@media(min-width:320px){
.d-none{
	display:none;
}
.container{
	width:100%;
}
.col-sm{
	width:100%;
	padding:0 15px;
}
}
@media(min-width:768px)and (max-width:999px){
	.container{
		width:90%;
		
		
	}
	.col-mm{
		width:50px;
		padding:0
	}
  }	
  @media(min-width:999px){
	  .container{
		  width:90%;
	  }
	  .col-ts{
		  width:50%;
		  padding:0 15px;
	  }
  } 
	

