#ts{
	display:flex;
	justify-content:center;
	align-items:center;
}
.content{
	padding-top:30px;
	color:black;
	font-family: 'Abel', sans-serif;
}
para{
	color:black;
	font-family: 'Wire One', sans-serif;
}
.icon{
    margin-top:50px;
	border-radius:20px;
	background-color:#f0f0f0;
	width:25%;
	height:22vh;
	position:relative;
	text-align:center;
	box-shadow:0px 5px #ccc;
	padding-bottom:30px;
}
.icon i{
	box-shadow:0px 0px 5px #ccc;
	font-size:25px;
	position:absolute;
	/* border:1px solid #f4f4f4; */
	border-radius:100%;
	padding:20px 20px;
	/* display:flex; */
	/*align-items:center; */
	/* justify-content:center; */
	color:orange;
	background-color:#f4f4f4;
	left:37%;
	top:-16%;
}
	
	
	
	